URxvt.font: xft:mono:medium:size=12
URxvt.letterSpace: -1
URxvt.transparent: true
URxvt.shading: 30
URxvt.termName: rxvt-unicode

! special
*.foreground:   #c5c8c6
*.background:   #171717
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #ca3737
*.color9:       #ea4d4d

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de803f
*.color11:      #f0c674

! blue
*.color4:       #6e889d
*.color12:      #789ebe

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #4e7eae
*.color15:      #c5c8c6
